In [ ]:
import pandas as pd
from operator import itemgetter
import string 
import numpy as np
import ast
from numpy import dot
from numpy.linalg import norm
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

gamesdata = pd.read_csv('/content/drive/MyDrive/bads6001/csvfile/gamesdata.csv')
userreview = pd.read_csv('/content/drive/MyDrive/bads6001/csvfile/userrevie.csv') 
crireview = pd.read_csv('/content/drive/MyDrive/bads6001/csvfile/crerevie.csv') 
print('')
print('gamesdata')
print('')
display(gamesdata.head(10))
print('')
print('crireview')
print('')
display(crireview.head(10))
print('')
print('userreview')
print('')
display(userreview.head(10))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

gamesdata

   game_ID  ...               pos/mix/neg_user
0        0  ...   ('11,662', '1,011', '1,639')
1        1  ...        ('4,853', '499', '546')
2        2  ...        ('2,081', '113', '399')
3        3  ...       ('13,451', '422', '690')
4        4  ...       ('14,898', '493', '905')
5        5  ...  ('75,171', '7,487', '63,598')
6        6  ...        ('4,072', '155', '489')
7        7  ...        ('4,264', '726', '593')
8        8  ...     ('10,466', '645', '1,222')
9        9  ...        ('1,730', '311', '192')

[10 rows x 15 columns]

crireview

   game_ID  ...                                             review
0      0.0  ...  Amazing not only for Western lovers. No other ...
1      0.0  ...  It’s simply incredible how much Rockstar has a...
2      0.0  ...  No open world game makes you feel as physicall...
3      0.0  ...  It's a game of restraint, but with some brutal...
4      0.0  ...  Unprecedented. A big, flawless game with a gre...
5      0.0  ...  Red Dead Redemption 2 is a triumphant open wor...
6      0.0  ...  My cousin told me that the game made him feel ...
7      0.0  ...  Without being groundbreaking or revolutionary,...
8      0.0  ...  Rockstar has done it again. Red Dead Redemptio...
9      0.0  ...  Red Dead Redemption 2 is the best game of the ...

[10 rows x 5 columns]

userreview

   game_ID  ...  helpful_of_all
0        0  ...  ['204', '317']
1        0  ...   ['63', '102']
2        0  ...  ['107', '175']
3        0  ...  ['364', '596']
4        0  ...   ['65', '107']
5        0  ...    ['57', '94']
6        0  ...   ['81', '134']
7        0  ...    ['55', '91']
8        0  ...   ['68', '113']
9        0  ...   ['60', '100']

[10 rows x 6 columns]

In [ ]:
score = pd.DataFrame()
score['game_ID'] = gamesdata['game_ID']
score['metascore'] = gamesdata['metascore']
score['userscore'] = gamesdata['user_score']
display(score)

      game_ID  metascore userscore
0           0       97.0       8.4
1           1       97.0       8.4
2           2       95.0       8.2
3           3       95.0       9.2
4           4       94.0       9.2
...       ...        ...       ...
7621     7621       23.0       3.1
7622     7622       20.0       1.7
7623     7623       20.0         2
7624     7624       19.0       1.3
7625     7625       16.0       1.3

[7626 rows x 3 columns]

# GET pool of game and those game's genre [automatic ** not work **]

In [ ]:
def jacc(seta,setb):
    seta = set(seta)
    setb = set(setb)
    intersection = len(seta.intersection(setb))
    union = (len(seta) + len(setb)) - intersection
    return float(intersection)/float(union)
def getsamename(s_game):
  listgamejac = []
  listofgame = []
  temp = 0
  for i in g_n:
    listgamejac.append([temp,jacc(s_game,i[1])])
    temp += 1 
  from operator import itemgetter
  temp = 0
  for i in sorted(listgamejac, key=itemgetter(1),reverse=True):
    if s_game.issubset(g_n[i[0]][1]):
      listofgame.append(gamesdata['game_ID'][i[0]])
    elif temp <= 20 and i[1] >= 0.9:
      listofgame.append(gamesdata['game_ID'][i[0]])
    temp += 1
  return listofgame

In [ ]:
g_n = gamesdata['game_name'].tolist()

In [ ]:
u_gamelist = []
while len(u_gamelist) < 3:
  u_game = input('your game (input [q] for quit):')
  u_game = u_game.lower()
  if u_game == 'q':
    break
  u_game = list(u_game)
  temp = 0
  for i in u_game:
    if i in '''!()-[]{};:'"\,<>./?@#$%^&*_~''':
      u_game[temp] = ''
    temp += 1
  u_game = ''.join(u_game)
  u_game = u_game.split(' ')
  u_game = set(u_game)
  u_gamelist.append(u_game)

your game (input [q] for quit):q

In [ ]:
temp = 0
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in g_n:
  x = i.lower()
  x = list(x)
  temp2 = 0
  for j in x:
    if j in punctuations:
      x[temp2] = ''
    temp2 += 1
  x = ''.join(x)
  x = x.split(' ')
  g_n[temp] = set(x)
  temp += 1

temp = 0
for i in g_n:
  g_n[temp] = [temp,i]
  temp += 1

In [ ]:
pool_game = []
for i in u_gamelist:
  a = getsamename(i)
  for j in a:
    pool_game.append(j)

In [ ]:
genre_each_game = []
for i in gamesdata['genre'].tolist():
  try:
    genre_each_game.append(ast.literal_eval(i))
  except:
    genre_each_game.append(())

pool_genre = set()
for gameid in pool_game:
  for genre in genre_each_game[gameid]:
    pool_genre.add(genre)

pool_genre = list(pool_genre)

pool_game_and_genre = []
for gameid in pool_game:
  pool_game_and_genre.append([gameid,genre_each_game[gameid]])

In [ ]:
pool_game

[]

In [ ]:
pool_genre

[]

In [ ]:
pool_game_and_genre

[]

# GET pool of game and those game's genre [Input Manually]

In [ ]:
df_gameid = gamesdata[['game_name','game_ID']] 
print('find game_id')
display(df_gameid)

find game_id

                                      game_name  game_ID
0                         Red Dead Redemption 2        0
1                            Grand Theft Auto V        1
2                               Persona 5 Royal        2
3                     The Last of Us Remastered        3
4                                    God of War        4
...                                         ...      ...
7621             FlatOut 3: Chaos & Destruction     7621
7622  Infestation: Survivor Stories (The War Z)     7622
7623        Leisure Suit Larry: Box Office Bust     7623
7624            Alone in the Dark: Illumination     7624
7625                  Ride to Hell: Retribution     7625

[7626 rows x 2 columns]

In [ ]:
pool_game = []
while len(pool_game) < 3:
  us_gameid = input('input game_id(numberic only) to use recommendation(Q for quit):')
  if us_gameid.lower() == 'q':
    break
  pool_game.append(int(us_gameid))

input game_id(numberic only) to use recommendation(Q for quit):2184
input game_id(numberic only) to use recommendation(Q for quit):4004
input game_id(numberic only) to use recommendation(Q for quit):23

In [ ]:
display(df_gameid.loc[df_gameid['game_ID'].isin(pool_game)])

           game_name  game_ID
23         Overwatch       23
2184  Pokemon Shield     2184
4004   Overcooked! 2     4004

In [ ]:
genre_each_game = []
count = 0
for i in gamesdata['genre'].tolist():
  try:
    genre_each_game.append([count,ast.literal_eval(i)])
  except:
    genre_each_game.append([count,()])
  count += 1

pool_genre = set()
for gameid in pool_game:
  for genre in genre_each_game[gameid][1]:
    pool_genre.add(genre)

pool_genre = list(pool_genre)

pool_game_and_genre = []
for gameid in pool_game:
  pool_game_and_genre.append(genre_each_game[gameid])

In [ ]:
df_genre_all = pd.DataFrame(genre_each_game,columns=['game_ID','Genre'])
display(df_genre_all)

      game_ID                                              Genre
0           0                    (Action, Adventure, Open-World)
1           1            (Action, Adventure, Modern, Open-World)
2           2                     (Role-Playing, Japanese-Style)
3           3               (Action, Adventure, General, Modern)
4           4                        (Action, Adventure, Linear)
...       ...                                                ...
7621     7621  (Driving, Racing, Demolition, Derby, Arcade, A...
7622     7622  (Massively, Multiplayer, Online, Modern, Role-...
7623     7623  (Action, Adventure, Adventure, Third-Person, O...
7624     7624              (Horror, Action, Adventure, Survival)
7625     7625  (Driving, Modern, Racing, Motorcycle, Motocros...

[7626 rows x 2 columns]

In [ ]:
pool_game

[2184, 4004, 23]

In [ ]:
pool_genre

['Arcade',
 'Shooter',
 'Trainer',
 'Action',
 'First-Person',
 'Role-Playing',
 'Tactical']

In [ ]:
pool_game_and_genre

[[2184, ('Role-Playing', 'Trainer')],
 [4004, ('Action', 'Arcade')],
 [23, ('Action', 'Shooter', 'First-Person', 'Tactical')]]

In [ ]:
print('Game from input')
display(pd.DataFrame(pool_game_and_genre,columns=['game_ID','Genre']))

Game from input

   game_ID                                      Genre
0     2184                    (Role-Playing, Trainer)
1     4004                           (Action, Arcade)
2       23  (Action, Shooter, First-Person, Tactical)

# Recomendation by 'genre' [Cosine Similarity]

Recommendation by genre pool

In [ ]:
def cos_sim(a,b):
  cos = dot(a, b)/(norm(a)*norm(b))
  return cos

count = 0
uniqgenre = set()
for i in genre_each_game:
  try:
    for j in i[1]:
      uniqgenre.add(j)
    count += 1
  except:
    #print('no genre(s) at',df['url'][count])
    count += 1 

def countgen(tgen):
  gendic = dict.fromkeys(uniqgenre, 0)
  for i in tgen:
    gendic[i] += 1 
  return gendic

In [ ]:
pg_dict = countgen(tuple(pool_genre))
pg_matrix = []
for x,y in pg_dict.items():
  if y > 0:
    pg_matrix.append(1)
  else:
    pg_matrix.append(0)

count = 0
all_genre_dict = []
for i in genre_each_game:
  try:
    all_genre_dict.append(countgen(i[1]))
    count += 1
  except:
    #print('no genre(s) at',df['url'][count])
    all_genre_dict.append(dict())
    count += 1

all_genre_matrix = []
for i in all_genre_dict:
  temp = []
  for x,y in i.items():
    if y > 0:
      temp.append(1)
    else:
      temp.append(0)
  all_genre_matrix.append(temp)

cosinesim = []
count = 0
for i in all_genre_matrix:
  if i == []:
    cosinesim.append(0)
  else:
    cosinesim.append([count,cos_sim(pg_matrix ,i)])
  count += 1

cosinesim = sorted(cosinesim, key=itemgetter(1),reverse=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

In [ ]:
rec_by_genre_pool = pd.DataFrame(cosinesim,columns=['game_ID','cosine_by_genre_pool'])
rec_by_genre_pool = pd.merge(rec_by_genre_pool, df_gameid, on='game_ID')
rec_by_genre_pool = rec_by_genre_pool[['game_ID','game_name','cosine_by_genre_pool']]
print('Recommendation By Genre Pool')
print('')
display(rec_by_genre_pool.head(10))

Recommendation By Genre Pool

   game_ID                                game_name  cosine_by_genre_pool
0      210  Call of Duty: Modern Warfare Remastered              0.845154
1     1246                              Screencheat              0.845154
2     1748                                   Verdun              0.845154
3     2504         Paladins: Champions of the Realm              0.845154
4      548                             PlanetSide 2              0.771517
5      688                              LawBreakers              0.771517
6      883                     Battlefield Hardline              0.771517
7     1272                               Battleborn              0.771517
8     3204                            Battlefield 3              0.771517
9     3306              Battlefield 3: Armored Kill              0.771517

In [ ]:
game_by_gp = []
for i in cosinesim:
  if i[1] >= 0.9:
    game_by_gp.append(i[0])

In [ ]:
game_by_gp

[]

Recommendation by genre each game in pool

In [ ]:
def getcosine(tgen):
  pg_dict = countgen(tuple(tgen))
  pg_matrix = []
  for x,y in pg_dict.items():
    if y > 0:
      pg_matrix.append(1)
    else:
      pg_matrix.append(0)
  cosinesim = []
  count = 0
  for i in all_genre_matrix:
    if i == []:
      cosinesim.append(0)
    else:
      cosinesim.append([count,cos_sim(pg_matrix ,i)])
    count += 1
  cosinesim = sorted(cosinesim, key=itemgetter(1),reverse=True)
  return cosinesim

In [ ]:
list_game_genre_cos = []
for i in pool_game_and_genre:
  list_game_genre_cos.append([i[0],getcosine(i[1])])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

In [ ]:
count = 0
for i in all_genre_matrix:
  if count in pool_game:
    print(i)
  count += 1

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
df_genre = []
for i in list_game_genre_cos:
  print(i[0],df_gameid['game_name'][i[0]])
  lcs = pd.DataFrame(i[1],columns=['game_ID','cosine_by_genre'])
  lcs = pd.merge(lcs, df_gameid, on='game_ID')
  lcs = lcs[['game_ID','game_name','cosine_by_genre']]
  df_genre.append(lcs)
  display(lcs.head(10))
  print('')

2184 Pokemon Shield

   game_ID                                  game_name  cosine_by_genre
0     1312                  Digimon World: Next Order         1.000000
1     2177           Pokemon Sword / Shield Dual Pack         1.000000
2     2184                             Pokemon Shield         1.000000
3     2198                              Pokemon Sword         1.000000
4     2437   Pokemon Sword / Shield: The Crown Tundra         1.000000
5     2624                        Nexomon: Extinction         1.000000
6     2684  Pokemon Sword / Shield: The Isle of Armor         1.000000
7      751                 Digimon Story Cyber Sleuth         0.816497
8     2203                  Pokemon: Let's Go, Eevee!         0.707107
9     2241                Pokemon: Let's Go, Pikachu!         0.707107

4004 Overcooked! 2

   game_ID                                 game_name  cosine_by_genre
0      320                             Overcooked! 2              1.0
1      577            Pac-Man Championship Edition 2              1.0
2      758           Stikbold! A Dodgeball Adventure              1.0
3     1156                       Radical Rabbit Stew              1.0
4     1216  Twin Breaker: A Sacred Symbols Adventure              1.0
5     1533                             Space Junkies              1.0
6     1563                                     BRAWL              1.0
7     1657                                De-formers              1.0
8     2073              Overcooked! 2: Surf 'n' Turf              1.0
9     2131                             Overcooked! 2              1.0

23 Overwatch

   game_ID                                  game_name  cosine_by_genre
0       23                                  Overwatch              1.0
1       39                               Apex Legends              1.0
2      198                  Call of Duty: Black Ops 4              1.0
3      235                                   SUPERHOT              1.0
4      439                         Firewall Zero Hour              1.0
5      468                      Call of Duty: Warzone              1.0
6      597              SUPERHOT: MIND CONTROL DELETE              1.0
7      611             Call of Duty: Infinite Warfare              1.0
8      616                             Sniper Elite 4              1.0
9      675  Call of Duty: Infinite Warfare - Sabotage              1.0

In [ ]:
game_by_g = []
for i in list_game_genre_cos:
  for j in i[1]:
    if j[1] >= 0.9:
      game_by_g.append(j[0])

In [ ]:
game_by_g

[1312,
 2177,
 2184,
 2198,
 2437,
 2624,
 2684,
 320,
 577,
 758,
 1156,
 1216,
 1533,
 1563,
 1657,
 2073,
 2131,
 2209,
 2288,
 2345,
 2644,
 2661,
 2735,
 2805,
 2902,
 3016,
 4004,
 4589,
 4671,
 5851,
 7372,
 23,
 39,
 198,
 235,
 439,
 468,
 597,
 611,
 616,
 675,
 722,
 885,
 926,
 1024,
 1188,
 1269,
 1372,
 1453,
 1567,
 1606,
 1790,
 2539,
 3247,
 3411,
 3648,
 3674,
 3934,
 4040,
 4174,
 4253,
 4296,
 4429,
 4466,
 4494,
 4736,
 4864,
 5281,
 5383,
 5678,
 5780,
 5852,
 6111,
 6556,
 6854]

# Recommendation by 'keyword' form User Review [Jaccad Similarity]

In [ ]:
def jacc(seta,setb):
    seta = set(seta)
    setb = set(setb)
    intersection = len(seta.intersection(setb))
    union = (len(seta) + len(setb)) - intersection
    return float(intersection)/float(union)

def getreviewsepgameid(df):
  temp = []
  for i in range(0,len(gamesdata['game_ID'].tolist())):
    dfx = df.loc[df['game_ID'] == float(i)]
    temp1 = ''.join(x for x in dfx['review'].tolist())
    temp.append(temp1)
  return temp

def removepuncandtolist(sstr):
  sstr = ''.join(i for i in sstr if not i in string.punctuation)
  sstr = sstr.replace('\n',' ')
  sstr = sstr.lower()
  sstr = sstr.split(' ')
  return sstr

def remove_values_from_list(the_list, val):
   return [value for value in the_list if value != val]

def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

def computeIDF(documents):
    import math
    documents = [x for x in documents if x]
    N = len(documents)
    
    idfDict = dict.fromkeys(uniquewords, 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

def getlistnumofw(bagsofwords,uniquewords):
    if bagsofwords == []:
      temp = []
    else:
      uniquewords = uniquewords.intersection(set(bagsofwords))
      temp = dict.fromkeys(uniquewords, 0)
      for word in bagsofwords:
        try:
          temp[word] += 1
        except:
          continue
      for x,y in temp.items():
        if y == 0:
         temp.pop(x)
    return temp

In [ ]:
gamename = gamesdata['game_name'].tolist()

#ดึง game name ออกมาเพื่อเอาลบออกจาก pool word
temp = 0
for text in gamename:
  try:
    gamename[temp] = removepuncandtolist(gamename[temp])
  except:
    gamename[temp] = []
  temp +=1

#clean ช่องว่าง
for i in userreview['review']:
  if type(i) is float:
    userreview['review'][list(userreview['review']).index(i)] = ''

#เอา text แต่ละเกมมาใส่ list
bagsofwords = getreviewsepgameid(userreview)

#clean text และทำให้เป็น list ของคำ
temp = 0
for text in bagsofwords:
  try:
    bagsofwords[temp] = removepuncandtolist(bagsofwords[temp])
  except:
    bagsofwords[temp] = []
  temp +=1

#อันนี้เอาชื่อเกมออกจาก list ของคำ
temp = 0
for i in gamename:
  for j in i:
    if j in bagsofwords[temp]:
      bagsofwords[temp] = remove_values_from_list(bagsofwords[temp],j)
  temp += 1

#อันนี้หา Unique Word
uniquewords = set([])
for i in bagsofwords:
  for j in i:
    uniquewords.add(j)
stopw = set(stopwords.words('english'))
uniquewords = uniquewords - stopw

#สร้าง matrix 
numOfWords = [getlistnumofw(x,uniquewords) for x in bagsofwords]

#คำนวณ tf
tflist = []
for num,bag in zip(numOfWords,bagsofwords):
  try:
    tflist.append(computeTF(num,bag))
  except:
    tflist.append([])

#คำนวณ idf
idfs = computeIDF(numOfWords)

#คำนวณ tf-idf
tfidf = []
temp = 0
for tf in tflist:
  if not tf:
    tfidf.append([temp,[]])
    temp += 1
    continue
  tfidf.append([temp,computeTFIDF(tf,idfs)])
  temp += 1

In [ ]:
sam = pd.DataFrame()
sam['game_ID'] = gamesdata['game_ID']
sam['user_review'] = bagsofwords
display(sam.head(10))

   game_ID                                        user_review
0        0  [ill, start, off, by, saying, its, impossible,...
1        1  [gta, was, arguably, one, of, the, most, antic...
2        2  [tldr, i, was, a, huge, fan, of, the, original...
3        3  [, вместо, тысяча, слов, , я, скажу, что, это,...
4        4  [as, a, huge, fan, the, series, and, the, last...
5        5  [, , , , , , , , , , , , , , , , , , , , , , ,...
6        6  [, a, great, game, i, loved, p3, and, p4, mayb...
7        7  [really, difficult, for, me, to, put, a, score...
8        8  [from, beginning, to, never, seizes, to, impre...
9        9  [ive, played, this, game, countless, number, o...

In [ ]:
keyword_all_game = []
for i in tfidf:
  try:
    kw = set()
    kwv = []
    for j in sorted(i[1], key=i[1].get, reverse=True)[:10]:
      kw.add(j)
      kwv.append(j,)
    keyword_all_game.append([gamesdata['game_ID'][tfidf.index(i)],kw])
  except:
    print('e')
    continue

In [ ]:
sam = pd.DataFrame(keyword_all_game,columns=['game_ID','keyword'])
sam = sam.loc[sam['game_ID'].isin(pool_game)]
display(sam)

      game_ID                                            keyword
23         23  {hero, characters, fortress, blizzard, 60, tea...
2184     2184  {swsh, 3ds, sword, dynamax, de, freak, wild, p...
4004     4004  {, lockdowns, couch, coop, milk’, challange, ‘...

ต่อไปเป็นการทำ Recommendation จาก Keyword ของ Game pool

In [ ]:
pool_word = set()
for i in pool_game:
  for j in keyword_all_game[i][1]:
    pool_word.add(j)

In [ ]:
pool_word_jac = []
for i in keyword_all_game:
  pool_word_jac.append([i[0],jacc(pool_word,i[1])])

pool_word_jac = sorted(pool_word_jac, key=itemgetter(1),reverse=True)

In [ ]:
rec_by_word_pool = pd.DataFrame(pool_word_jac,columns=['game_ID','jacc_by_word_pool'])
rec_by_word_pool = pd.merge(rec_by_word_pool, df_gameid, on='game_ID')
rec_by_word_pool = rec_by_word_pool[['game_ID','game_name','jacc_by_word_pool']]
print('Recommendation By Word Pool')
print('')
display(rec_by_word_pool.head(10))

Recommendation By Word Pool

   game_ID                                 game_name  jacc_by_word_pool
0       23                                 Overwatch           0.333333
1     2184                            Pokemon Shield           0.333333
2     4004                             Overcooked! 2           0.333333
3     2177          Pokemon Sword / Shield Dual Pack           0.250000
4     2198                             Pokemon Sword           0.212121
5     3095                                 Overwatch           0.212121
6     2203                 Pokemon: Let's Go, Eevee!           0.111111
7     2241               Pokemon: Let's Go, Pikachu!           0.111111
8     2437  Pokemon Sword / Shield: The Crown Tundra           0.111111
9     3823                       Monday Night Combat           0.111111

In [ ]:
game_by_wp = []
for i in pool_word_jac:
  if i[1] >= 0.6:
    game_by_wp.append(i[0])

print(game_by_wp)

[]

Recommendation by word each game in pool

In [ ]:
def getjacc(skw):
  jaccad = []
  count = 0
  for i in keyword_all_game:
    jaccad.append([count,jacc(i[1],set(skw))])
    count += 1
  jaccad = sorted(jaccad, key=itemgetter(1),reverse=True)
  return jaccad

In [ ]:
list_game_word_jacc = []
for i in pool_game:
  list_game_word_jacc.append([i,getjacc(keyword_all_game[i][1])])

In [ ]:
for i in list_game_word_jacc:
  print(i[0],df_gameid['game_name'][i[0]])
  lcs = pd.DataFrame(i[1],columns=['game_ID','jaccard_by_word'])
  lcs = pd.merge(lcs, df_gameid, on='game_ID')
  print('')
  display(lcs.head(10))
  print('')

2184 Pokemon Shield

   game_ID  jaccard_by_word                                          game_name
0     2184         1.000000                                     Pokemon Shield
1     2177         0.666667                   Pokemon Sword / Shield Dual Pack
2     2198         0.538462                                      Pokemon Sword
3     2203         0.250000                          Pokemon: Let's Go, Eevee!
4     2241         0.250000                        Pokemon: Let's Go, Pikachu!
5     2437         0.250000           Pokemon Sword / Shield: The Crown Tundra
6     2684         0.176471          Pokemon Sword / Shield: The Isle of Armor
7     2827         0.176471                                   Little Town Hero
8     2301         0.111111  The Legend of Zelda: Breath of the Wild - The ...
9     2373         0.111111                  Sushi Striker: The Way of Sushido

4004 Overcooked! 2

   game_ID  jaccard_by_word                        game_name
0     4004         1.000000                    Overcooked! 2
1      282         0.176471  Lovers in a Dangerous Spacetime
2      507         0.176471                      Overcooked!
3      657         0.176471                          Chariot
4     1177         0.176471                            Biped
5     1489         0.176471                      Tiny Brains
6     2345         0.176471     Overcooked!: Special Edition
7     2346         0.176471                       Moving Out
8     4036         0.176471                      Overcooked!
9     4076         0.176471  Lovers in a Dangerous Spacetime

23 Overwatch

   game_ID  jaccard_by_word              game_name
0       23         1.000000              Overwatch
1     3095         0.538462              Overwatch
2     3042         0.176471         The Orange Box
3     3421         0.176471    Heroes of the Storm
4     3823         0.176471    Monday Night Combat
5     5846         0.176471                  Brink
6     6510         0.176471  Gotham City Impostors
7      401         0.111111                 NHL 19
8      578         0.111111       Street Fighter V
9      942         0.111111  Star Wars Battlefront

In [ ]:
game_by_w = []
for i in list_game_word_jacc:
  for j in i[1]:
    if j[1] >= 0.6:
      game_by_w.append(j[0])

In [ ]:
game_by_w

[2184, 2177, 4004, 23]

# Recommendation by 'Critic' [Item-based and Cosine Similarity]

In [ ]:
def cos_sim(a,b):
  from numpy import dot
  from numpy.linalg import norm
  cos = dot(a, b)/(norm(a)*norm(b))
  return cos

In [ ]:
df = pd.merge(crireview, gamesdata, on='game_ID')
df = df[['game_ID','cri_name','date_review','grade','review']]
df['game_ID'] = df['game_ID'].astype(int)
df['grade'] = df['grade'].fillna(0)
df['grade'] = df['grade'].astype(int)
mur = df.pivot_table(index='game_ID',columns='cri_name',values='grade')
mur = mur.fillna(0)
mur = mur.astype(int)

In [ ]:
mur

cri_name  1UP  3DAvenue  3DJuegos  ...  eToychest  games(TM)  netjak
game_ID                            ...
0           0         0       100  ...          0          0       0
1           0         0        95  ...          0          0       0
2           0         0        95  ...          0          0       0
3           0         0        95  ...          0          0       0
4           0         0        95  ...          0         90       0
...       ...       ...       ...  ...        ...        ...     ...
7621        0         0         0  ...          0          0       0
7622        0         0         0  ...          0          0       0
7623        0         0         0  ...          0          0       0
7624        0         0         0  ...          0          0       0
7625        0         0        26  ...          0          0       0

[7615 rows x 399 columns]

In [ ]:
cs_game = []
for gameid in pool_game:
  cs_score = []
  for i in mur.columns:
    x = cos_sim(mur[i].tolist(),mur[gameid].tolist())
    cs_score.append([i,x])
  cs_score = sorted(cs_score, key=itemgetter(1), reverse=True)
  cs_game.append([gameid,cs_score])

In [ ]:
df_critic = []
for i in cs_game:
  print(i[0],df_gameid['game_name'][i[0]])
  lcs = pd.DataFrame(i[1],columns=['game_ID','cosine_by_critic'])
  lcs = pd.merge(lcs, df_gameid, on='game_ID')
  lcs = lcs[['game_ID','game_name','cosine_by_critic']]
  df_critic.append(lcs)
  print('')
  display(lcs.head(10))
  print('')

2184 Pokemon Shield

   game_ID                                    game_name  cosine_by_critic
0     2184                               Pokemon Shield          1.000000
1     2198                                Pokemon Sword          0.954692
2     2177             Pokemon Sword / Shield Dual Pack          0.942797
3     1949                    Fire Emblem: Three Houses          0.845420
4     1988                            Luigi's Mansion 3          0.829961
5     1966        The Legend of Zelda: Link's Awakening          0.807409
6     1953                          Super Mario Maker 2          0.797766
7     2536  Marvel Ultimate Alliance 3: The Black Order          0.779596
8     1962                                 Astral Chain          0.774779
9     1932                   Super Smash Bros. Ultimate          0.770185

4004 Overcooked! 2

   game_ID                             game_name  cosine_by_critic
0     4004                         Overcooked! 2          1.000000
1     4478           Ace Combat 7: Skies Unknown          0.598714
2     5018                               FIFA 21          0.529066
3     3716                         Trials Rising          0.527761
4     3100  Metal Gear Solid V: The Phantom Pain          0.520400
5     4227             Pro Evolution Soccer 2019          0.519990
6     3622                               FIFA 17          0.512267
7     3163                       Resident Evil 2          0.496838
8     5806                     Life is Strange 2          0.493733
9     3770                              Hitman 2          0.489891

23 Overwatch

   game_ID                            game_name  cosine_by_critic
0       23                            Overwatch          1.000000
1      605            Transformers: Devastation          0.598690
2     1302                            Outlast 2          0.591703
3      417            Tom Clancy's The Division          0.580321
4      284                    Enter the Gungeon          0.578482
5      294                             Tekken 7          0.573330
6     1161  Tom Clancy's Ghost Recon: Wildlands          0.568628
7     1218               Mirror's Edge Catalyst          0.566557
8      227                         Project CARS          0.566254
9     1465                  Shadow of the Beast          0.562579

In [ ]:
game_by_c = []
for i in cs_game:
  for j in i[1]:
    if j[1] >= 0.6:
      game_by_c.append(j[0])

# Absolute result & Summary

นำ game pool ที่ผ่านการทำ Cosine Sim base on 'genre' และ Jaccard Sim จาก tf-idf จาก text ของ user review (ตัวแปร gp_genre และ gameforword มารวมกัน (union) แล้วโชว์ตารางผลลัพท์)

In [ ]:
print(pool_game)

[2184, 4004, 23]

ลิสท์เกมจากแต่ละวิธี

In [ ]:
count = 0
for i,j in zip(df_genre,df_critic):
  print(pool_game[count],':',gamesdata['game_name'][pool_game[count]])
  comp = pd.merge(i, j, on=['game_ID','game_name'])
  comp = pd.merge(comp, df_genre_all, on=['game_ID'])
  comp = pd.merge(comp, score, on=['game_ID'])
  comp = comp.sort_values(['cosine_by_genre', 'cosine_by_critic','metascore','userscore','game_name'], ascending=[False, False, False, False, True])
  display(comp.head(5))
  print('')
  count += 1

2184 : Pokemon Shield

   game_ID                                  game_name  ...  metascore  userscore
2     2184                             Pokemon Shield  ...       80.0        4.6
3     2198                              Pokemon Sword  ...       80.0        4.6
1     2177           Pokemon Sword / Shield Dual Pack  ...       80.0        4.3
6     2684  Pokemon Sword / Shield: The Isle of Armor  ...       69.0        5.5
4     2437   Pokemon Sword / Shield: The Crown Tundra  ...       75.0        8.5

[5 rows x 7 columns]

4004 : Overcooked! 2

    game_ID                       game_name  ...  metascore  userscore
19     4004                   Overcooked! 2  ...       81.0        7.6
21     4671                   Space Junkies  ...       77.0          5
5      1533                   Space Junkies  ...       63.0        3.4
23     7372              Death by Game Show  ...       50.0        tbd
20     4589  Pac-Man Championship Edition 2  ...       78.0          7

[5 rows x 7 columns]

23 : Overwatch

    game_ID                       game_name  ...  metascore  userscore
0        23                       Overwatch  ...       90.0        6.4
8       616                  Sniper Elite 4  ...       77.0        6.8
7       611  Call of Duty: Infinite Warfare  ...       77.0          4
16     1372                     World War Z  ...       67.0        6.2
15     1269        Star Wars Battlefront II  ...       68.0        1.5

[5 rows x 7 columns]